@import '~scss/main';


#user-status {
  display: flex;
  flex-direction: row;
  // height: 50px;
  // overflow: hidden;
  padding: 0.5rem 1rem;
  background: #fff;
  border-bottom: 1px solid $darkSlateGray;

  > * {
    display: inline-block;
    flex: 1 0 auto;
    vertical-align: top;
  }
}
