@import '~scss/main';


#topbar {
  background: #eee;

  #user-status {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    background: #fff;

    > * {
      display: inline-block;
      flex: 1 0 auto;
      vertical-align: top;
    }
  }
}
