// Base Colors
$txtCol: #4a4a4a;
$black: #010000;
$dark_blue: #003c76;
$white: #ffffff;
$orange: #f5a637;
$red: #bc3030;
$lightGrey: #ccc;
$darkGrey: #aaa;
$lightBlue: #69b3d0;

// Theme
$main-bg-color: #000;

// admin colors
$lightSlateGray: rgb(187, 187, 187);
$darkSlateGray: #272F37;
$sandyBrown: #EDB33D;
$whiteSmoke: rgb(129, 129, 129);
$mediumSeaGreen: #43BE7D;
$Violet: #EFA5C3;

//

$max-content-width: 750px;
$headerColor: $darkSlateGray;
$footerHeight: 50px;
$footerColor: $darkSlateGray;
$button-color-hover: green;
$v-padding: 0.75rem;
$h-padding: 1rem;

$border-radius: 12px;
$button-border-radius: 3px;

// link colors
$link-color: rgb(28, 92, 230);
$link-color-hover: rgb(10, 122, 0);

$menu-color: $darkSlateGray;
$menu-color-hover: #fff;
$menu-color-active: $darkSlateGray;

$menu-bg-color: $darkGrey;
$menu-bg-color-hover: $darkGrey;
$menu-bg-color-active: #fff;

/// Form
$form-input-text-color: rgb(100, 100, 100) !default;
$form-input-bg-color: rgb(222, 222, 222) !default;
$form-input-bg-color-shadow: darken($form-input-bg-color, 10%) !default;

/// FormError
$form-error-bg-color: rgb(255, 200, 200) !default;
$form-error-border-width: 2px !default;
$form-error-border-color: rgb(200, 0, 0) !default;

/// Form border
$form-input-border-color: rgb(222, 222, 222) !default;