@import '~scss/main';

.form {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  text-align: left;

  &.split {
    padding: 0;
  }

  &.reverse {
    .form-wrapper {
      flex-flow: row-reverse wrap-reverse; 
    }
  }

  .form-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 0;

    > * {
      display: inline-block;
      flex: 1 0 auto;
      border: 1px solid red;
    }

    aside {
      flex: 0 0 auto;
      padding: 0 1rem;

      button {
        display: block;
        background: none;
      }
    }

    @media only screen and (max-width: 767px) {
      > * {
        width: 100%;
      }

      aside {
        width: 100%;
        text-align: center;
        padding: 0;
      }
    }
  }
}
