@import '~scss/main';

#main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  text-align: center;

  header, footer {
    flex-shrink: 0;
  }

  .page-content {
    flex: 1;
    margin: 0 auto;
    padding: 0 1rem 1rem;
    width: 100%;
    text-align: left;
    background-color: $darkSlateGray;
    
    @media only screen and (max-width: 400px) {
      padding: 0;
    }
  }
}
