@import '~scss/main';

.main-layout {
  text-align: center;

  .page-content {
    margin: 0 auto;
    padding: 1rem;
    max-width: 900px;
    text-align: left;
    
    @media only screen and (max-width: 400px) {
      padding: 1rem 0;
    }

    .flex-container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

      aside, section {
        display: inline-block;
      }
      
      section {
        flex: 2;
        margin-left: 1rem;
        border: 1px solid red;
      }

      aside {
        text-align: center;
        flex: 1;
      }

      @media only screen and (max-width: 767px) {
        aside {
          width: 100%;
        }

        section {
          margin-left: 0;
          flex: 1 0 auto;
          width: 100%;
        }
      }
    }
  }
}
