@import '~scss/main';

.profile-header {
    margin: 0 $h-padding 2rem;
    text-align: center;

    > * {
        margin: 0 auto;
        text-align: center;
    }
}

.text-display {
    padding: $v-padding $h-padding * 3 $v-padding $h-padding;
}