@import '~scss/main';

.memory-header {

  .memory-heading {
    margin: 0;
    padding: 0;
    line-height: 30px;
  }

  .date {

  }

  .arrow-button {
    border: none;
    transform: rotate(0deg);

    &.up {
      transform: rotate(180deg);
    }

    &.left {
      transform: rotate(90deg);
    }

    &.right {
      transform: rotate(270deg);
    }
  }
}
