@import '~scss/main';

#user-status {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-top: $v-padding;
  padding-bottom: $v-padding;

  > * {
    display: inline-block;
    flex: 1 0 auto;
    vertical-align: top;
  }
}
