@import '~scss/main';

.menu-button {
  position: relative;
  display: block;
  width: 100%;
  // color: $lightGrey;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.8rem;
  line-height: normal;
  font-weight: 400;
  text-align: center;

  .text {
    display: inline-block;
    margin-left: 0.5rem;

    @media only screen and (max-width: 728px) {
      display: none;
    }
  }

  i {

  }

  &:hover, &.active {
    color: $darkSlateGray;
    background: indianred;
  }

  &.active {
    background: $whiteSmoke;
    cursor: default;
  }
}
