@import '~scss/main';

.memory-header {
  display: flex;
  flex-flow: row nowrap;

  > * {
    display: inline-block;
  }
  
  .memory-heading {
    flex: 1 0 auto;
    margin: 0;
    padding: 0;
  }

  .controls {
    flex: 0 0 auto;
  }

  .arrow-button {
    border: none;
    transform: rotate(0deg);

    &.up {
      transform: rotate(180deg);
    }

    &.left {
      transform: rotate(90deg);
    }

    &.right {
      transform: rotate(270deg);
    }
  }
}
