@import '~scss/main';

.remember-button {
    box-sizing: border-box;
    display: block;
    padding: 1rem $h-padding;
    text-align: center;
    background: lighten($sky-blue, 25%);
    color: #fff;
    border-radius: $button-border-radius;
    cursor: pointer;
    transition: background 0.25s linear;

    &:hover {
        color: $sky-blue;
        background: lighten($sky-blue, 50%);
    }
}

.memory-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}