@import '~scss/main';

form#memory-form {
  box-sizing: border-box;
  
  .control-group {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid #333;

    .select-wrapper {
      display: inline-block;
      flex: 1 0 auto;

      select {
        padding: $v-padding 0;
        width: 100%;
        text-align-last: center;
        background: $form-input-bg-color;
        border: none;
        border-right: 1px solid #aaa;
        cursor: pointer;
      }

      &:first-child {
        select {
          background: linear-gradient(
            to right,
            $form-input-bg-color-shadow, $form-input-bg-color
          );
        }
      }

      &:last-child {
        select {
          background: linear-gradient(
            to right,
            $form-input-bg-color, $form-input-bg-color-shadow
          );
          border: none;
        }
      }
    }
  }
}
