@import '~scss/main';

.memory-signature {
  display: block;
  overflow: hidden;
  text-align: right;

  > * {
    display: block;
  }

  a {
    h3, &:visited & {
      color: lighten($sky-blue, 25%);
    }

    &:hover {
      h3 {
        color: #fff;
      }
    }
  }

  .username {
    padding: 0 0 0 1rem;
    text-align: right;
    vertical-align: super;
  }

  .profile-image {
    margin-right: 0;
    border-radius: $border-radius;

    &.small {
      // width: 30px;
      // height: auto;
    }
  }

  @media only screen and (max-width: 480px) {
    display: inline-block;
    text-align: left;

    a {
      display: block;
      line-height: unset;
      > * {
        display: inline-block;
        text-align: left;
      }
    }
  }

  .info {
    white-space: nowrap;
    vertical-align: top;
    text-align: right;

    > * {
      display: block;
      line-height: 18px;
      margin-bottom: 0.3rem;
    }

    a {
      color: #fff;

      &:hover, &:visited {
        color: #fff;
      }
    }

    .memory-date {
      font-size: 1.25rem;
      font-weight: 900;
      color: #444;
    }
  }

  @media only screen and (max-width: 480px) {
    .info {
      text-align: left;
    }
  }
}
