@import '~scss/main';

h1, h2, h3, h4 {
  margin: 0;
  padding: $v-padding $h-padding;
  color: $black;
  font-weight: 800;
  text-align: left;

  &.dark {
    color: $white;
    background-color: $darkSlateGray;
  }
}

h1 {
  // font-size: 2rem;
  // line-height: 2rem;
  // margin: 0 0 1rem 0;
}

h2 {
  // font-size: 2.8rem;
  // line-height: 3.4rem;
  background: #ccc;
}

h3 {
  // font-size: 2.4rem;
  // line-height: 3.0rem;
}

h4 {
  padding: 1rem $h-padding;
  background: #ddd;
}
