@import '~scss/main';

#auth-form {
    text-align: center;

    form {
        margin: 0 auto 2rem;
    }
    
    .bottom-links {
        // border: 1px solid red;
        color: lighten($sky-blue, 50%);
        text-align: center;

        a {
            color: lighten($sky-blue, 25%);

            &:hover, &:visited {
                color: #fff;
            }
        }
    }
}