@import '~scss/main';

body.ReactModal__Body--open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.75);
  transition: opacity 250ms ease-in-out;
  opacity: 0;

  &[class*="after-open"] {
    opacity: 1;
  }
  &[class*="before-close"] {
    opacity: 0;
  }
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  // font-size: 1rem;
  border-radius: $border-radius;
  overflow: hidden;
  top: calc(25%);
  left: calc(50%);
  right: auto;
  bottom: auto;
  // margin: 1rem calc(-50% + 1rem) 1rem 1rem;
  transform: translate(-50%, 100%);
  transition: transform 250ms ease-in-out;
  outline: none;
  box-sizing: border-box;
  max-width: calc(640px - 1rem);
  max-height: calc(100% - 1rem);
  width: 50%;

  // @media only screen and (max-width: 480px) {
  //   width: 100%;
  // }
  
  @media screen and (max-width: 640px) {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: unset;
  }
  
  &[class*='after-open'] {
    transform: translate(-50%, -15%);//-50%);
    @media screen and (max-width: 640px) {
      transform: translate(-50%, 0);
      top: 0;
      height:100%;
      max-height: 100%;
      border-radius: unset;
    }
  }
  
  &[class*='before-close'] {
    transform: translate(-50%, 100%);
    @media only screen and (max-width: 480px) {
      transform: translate(-50%, 0);
    }
  }
}

.modal-header {
  display: flex;
  align-items: center;

  > * {
    flex: 0 0 auto;
  }

  > *:first-child {
    flex: 1 0 auto;
  }

  > *:last-child {
    padding: $v-padding $h-padding;
  }
}

.modal-content {
  padding: 0.5rem;
  background: #fff;
  overflow: auto;
  text-align: center;

  @media only screen and (max-width: 480px) {
    height: 100%;
  }

  > * {
    margin: 0 auto;
  }
}
