@import '~scss/main';

#user-page {
    display: flex;
    flex-flow: row wrap;
    padding: 0 $h-padding;

    .user-info {
        flex: 1 0 50%;

        .user-header {
            display: flex;
            flex-flow: row wrap;
            
            > * {
                display: inline-block;
            }

            .user-avatar {
                flex: 0 0 auto;
                padding: 0 2rem 0 0;
            }
    
            .user-heading {
                flex: 1 0 auto;
            }
        }

        .user-content {
            margin-top: 1.5rem;
            
            .user-bio {
                color: #fff;
            }
        }
    }

    .user-memories {
        flex: 1 0 50%;
    }
}
