@import '~scss/main';

.user-header {
  margin: 0 $h-padding 1rem;
  text-align: center;

  > * {
      margin: 0 auto;
      text-align: center;
  }
}

.text-placeholder {
  padding: $v-padding $h-padding * 2;
}
