@import '~scss/main';

.memory-item {
  display: flex;
  flex-flow: row wrap;
  padding: $v-padding $h-padding;
  border-bottom: 1px solid #ccc;

  // @media only screen and (min-width: 480px) {
  //   padding: $v-padding 0;
  // }

  > * {
    display: inline-block;
  }

  aside {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    padding-right: $h-padding;
    min-width: 200px;
    order: 0;

    @media only screen and (max-width: 480px) {
      order: 1;
    }
  }

  .bubble {
    margin: 0 1.25rem 0 0;
    width: 24px;
    height: 24px;
    border-radius: $border-radius;
    text-align: center;
    background: #fff;
    order: 1;
  }

  .icon-link {
    margin: 0 1.25rem 0 0;
    color: #fff;
    text-align: center;
    order: 1;
    // width: 20px;
    // height: 20px;
    font-size: 24px;
    // line-height: 20px;

    i {
    //   width: $border-radius * 2;
    //   height: $border-radius * 2;
    //   line-height: $border-radius * 2;
    }

    &:hover {
      color: #399df0;
    }
  }

  @media only screen and (max-width: 480px) {
    .bubble, .icon-link {
      order: 0;
      margin-top: 2rem;
    }
  }

  .memory-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 300px;
    order: 2;
  }

  &:last-child {
    border-bottom: none;
  }
}
