@import '~scss/main';

.main-nav {

  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  overflow: hidden;

  @media only screen and (max-width: 480px) {
    border-radius: unset;
  }

  ul, ul li {
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;

    li {
      display: inline-block;
      flex: 1 0 auto;
      list-style-type: none;

      .menu-button {
        display: block;
        width: 100%;
        text-decoration: none;
        padding: 1rem $h-padding;
        font-size: 1.5rem;
        line-height: normal;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        color: $menu-color;
        background: $menu-bg-color;
        @include transition(all .4s ease-in-out);
      
        .text {
          display: inline-block;
          margin-left: 0.5rem;
      
          @media only screen and (max-width: 728px) {
            display: none;
          }
        }
      
        i {
      
        }

        &:visited {
          color: $menu-color;
          background: $menu-bg-color;
        }
      
        &:hover {
          color: $menu-color-hover;
          background: $menu-bg-color-hover;
        }
      
        &.active {
          color: $menu-color-active;
          background: $menu-bg-color-active;
          cursor: default;
        }
      }
    }
  }
}
