@import '~scss/main';

.main-nav {

  ul, ul li {
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;

    li {
      display: inline-block;
      flex: 1 0 auto;
      list-style-type: none;
    }
  }
}
