@import '~scss/main';

.switch-menu {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 18px;
  // border: 1px solid $form-input-border-color;
  border-radius: $border-radius;
  overflow: hidden;
  width: auto;
  // background: $form-input-bg-color;
  
  &:hover {
    // background: lighten($sky-blue, 25%);
    .switch-menu-options {
    
      .switch-menu-option {
        // &.active {
          
        // }
        &:not(.active) {
          color: lighten($sky-blue, 25%);
        }
      }
    }
    
    .control-indicator {
      background: rgba(255, 255, 255, 0.5);
    }
  }

  .switch-menu-options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;

    .switch-menu-option {
      display: inline-block;
      width: 50%;
      padding: 0 0.5rem;
      text-align: center;
      color: lighten($sky-blue, 50%);

      &:not(.active):hover {
        color: #fff;
      }

      &.active {
        color: darken($sky-blue, 50%);
        cursor: default;
      }
    }
  }

  .control-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: #fff;
    z-index: 1;
    transition: left 0.15s ease-out;
    border-radius: $border-radius;
  }

  &.active-option-1 {

    .control-indicator {
      // background-color: darkgray;
      left: 50%;
    }
  }

  // &:focus {
  //   .control-indicator {
  //     background: darkgray;
  //   }
  // }
}
