@import '~scss/main';

.module {
    padding: 0;
    border: 1px solid #ddd;

    .module-content {
        padding: $v-padding $h-padding;

        // @media only screen and (max-width: 400px) {
        //     padding: 0;
        // }
    }

    &.full-size {
        .module-content {
            padding: 0;
        }
    }
}