@import '~scss/main';

.split-form {
    display: flex;
    flex-flow: row wrap;

    > * {
        display: inline-block;
        flex: 1 0 auto;
        border: 1px dotted green;

        // @media only screen and (max-width: 767px) {
        //     display: block;
        // }
    }

    > section {
        flex: 1 0 40%;
    }

    > aside {
        flex: 1 0 60%;

        button {
            cursor: pointer;
        }
    }
}