
.text-editor {
    background-color: transparent;

    .tools {
        margin-bottom: 1rem;
        padding: 1px;

        .toolbar {
            display: inline-block;
            margin-right: 0.5rem;
            padding: 1px;
            border: 1px solid #ccc;

            a {
                margin: 0 1px;
                padding: 2px 4px;
                border: 1px solid #aaa;

                i {
                    margin: 0;
                }
            }
        }
    }
}