@import '~scss/main';

.text-editor {
    background: #fff;

    .tools {
        margin-bottom: 1rem;
        .toolbar {
            display: inline-block;
            margin-right: 0.5rem;

            a {
                margin: 0 1px;
                padding: 2px 4px;
                border: 1px solid #aaa;

                i {
                    margin: 0;
                }
            }
        }
    }

    .text-display {
        padding: 1rem $h-padding;
        min-height: 50px;
        background: #eee;
        
        em {
            font-style: italic;
        }
    }
    
    &.read-only {
        background: none;
        padding: 0;

        .text-display {
            margin: 1rem 0;
            border: 0;
            background: transparent;
            border: none;
        }
    }
}